### Downloading data base

This notebook is created to access the 2019 Novel Coronavirus COVID-19 (2019-nCoV) Data Repository by Johns Hopkins CSSE, which can be found here: https://github.com/CSSEGISandData/COVID-19

Written by Bruno Abreu, April 2020
as part of the Racionalidade Cientifica initiative.

In [1]:
import sys
import os
import pandas as pd

In [2]:
global repo_path
repo_path = "/home/babreu/Science/covid19/repo"

In [4]:
def update_repo():
    """
    This should clone the data base to your working directory. Make sure to correct the file path, as well as 
    make sure to run this function before doing analysis so that you get all of the available data.
    """
    pull = "git pull https://github.com/CSSEGISandData/COVID-19.git"
    os.chdir(repo_path) 
    os.system(pull)

In [5]:
def read_files():
    """
    Function to read the CSV files and place them into pandas dataframes. It will return 3 data frames.
    """
    update_repo()
    
    file = repo_path + "/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv" 
    df_cases = pd.read_csv(file)
    
    file = repo_path + "/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv" 
    df_deaths = pd.read_csv(file)
    
    file = repo_path + "/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv" 
    df_recovs = pd.read_csv(file)
    
    return df_cases, df_deaths, df_recovs

In [6]:
df_c,df_d,df_r = read_files()

In [7]:
df_c.sample(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20
184,NaN,Portugal,39.3999,-8.2245,0,0,0,0,0,0,...,1280,1600,2060,2362,2995,3544,4268,5170,5962,6408
95,NaN,Djibouti,11.8251,42.5903,0,0,0,0,0,0,...,1,1,3,3,11,11,12,14,18,18
213,NaN,Turkey,38.9637,35.2433,0,0,0,0,0,0,...,670,1236,1529,1872,2433,3629,5698,7402,9217,10827
57,Hainan,China,19.1959,109.7453,4,5,8,19,22,33,...,168,168,168,168,168,168,168,168,168,168
10,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,3,5,5,6,6,12,12,15,15,15
225,NaN,US,37.0902,-95.7129,1,1,2,2,5,5,...,25489,33276,43847,53740,65778,83836,101657,121478,140886,161807
68,Liaoning,China,41.2956,122.6085,2,3,4,17,21,27,...,126,127,127,127,127,128,128,132,134,136
56,Guizhou,China,26.8154,106.8748,1,3,3,4,5,7,...,146,146,146,146,146,146,146,146,146,146
92,Faroe Islands,Denmark,61.8926,-6.9118,0,0,0,0,0,0,...,92,115,118,122,132,140,144,155,159,168
148,NaN,Liberia,6.4281,-9.4295,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3

In [ ]:
path = repo_path + "/csse_covid_19_data/csse_covid19_daily_reports"

In [ ]:
#added things here