### Downloading data base

This notebook is created to access the 2019 Novel Coronavirus COVID-19 (2019-nCoV) Data Repository by Johns Hopkins CSSE, which can be found here: https://github.com/CSSEGISandData/COVID-19

Written by Bruno Abreu, April 2020
as part of the Racionalidade Cientifica initiative.

In [ ]:
import sys
import os
import pandas as pd

In [ ]:
global repo_path
repo_path = "/home/babreu/Science/covid19/repo"

In [48]:
def update_repo():
    """
    This should clone the data base to your working directory. Make sure to correct the file path, as well as 
    make sure to run this function before doing analysis so that you get all of the available data.
    """
    clone = "git clone https://github.com/CSSEGISandData/COVID-19.git"
    os.chdir(repo_path) 
    os.system(clone)

In [56]:
def read_files():
    """
    Function to read the CSV files and place them into pandas dataframes. It will return 3 data frames.
    """
    update_repo()
    
    file = repo_path + "/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv" 
    df_cases = pd.read_csv(file)
    
    file = repo_path + "/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv" 
    df_deaths = pd.read_csv(file)
    
    file = repo_path + "/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv" 
    df_recovs = pd.read_csv(file)
    
    return df_cases, df_deaths, df_recovs

In [57]:
df_c,df_d,df_r = read_files()

In [61]:
df_c.sample(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20
115,Martinique,France,14.6415,-61.0242,0,0,0,0,0,0,...,32,32,44,53,57,66,66,81,93,93
35,Alberta,Canada,53.9333,-116.5765,0,0,0,0,0,0,...,146,195,259,301,359,358,486,542,542,621
74,Shanghai,China,31.2020,121.4491,9,16,20,33,40,53,...,371,380,404,404,414,433,451,468,485,492
190,NaN,Saint Vincent and the Grenadines,12.9843,-61.2872,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
93,Greenland,Denmark,71.7069,-42.6043,0,0,0,0,0,0,...,2,2,4,4,5,6,6,10,10,10
40,Newfoundland and Labrador,Canada,53.1355,-57.6604,0,0,0,0,0,0,...,4,6,9,24,35,35,82,102,120,135
214,NaN,Uganda,1.0000,32.0000,0,0,0,0,0,0,...,0,1,1,9,9,14,14,23,30,33
223,NaN,United Kingdom,55.3781,-3.4360,0,0,0,0,0,0,...,3983,5018,5683,6650,8077,9529,11658,14543,17089,19522
7,NaN,Armenia,40.0691,45.0382,0,0,0,0,0,0,...,136,160,194,235,249,265,290,329,407,424
65,Jiangsu,China,32.9711,119.4550,1,5,9,18,33,47,...,631,631,633,633,636,638,640,641,641,644